/*reset css*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/*cuerpo*/
.ejemplo-1 {
  padding: 4;
}

.ejemplo-2 {
  padding: 8;
}

.ejemplo-3 {
  padding: 12;
}

body {
  font-family: 'Frank Ruhl Libre', serif;
  color: #333;
  font-size: 1.5rem;
  line-height: 1.7em;
  margin: 0;
  background: #f1f7f1;
}

/*POSICION GENERAL*/
.posicion {
  width: 90%;
  max-width: 70rem;
  margin: 0 auto;
}

/*BOOSTRAP*/
a:hover {
  text-decoration: none;
}

.header a:hover {
  color: whitesmoke !important;
  text-decoration: none;
}

.footer a:hover {
  color: rgba(51, 51, 51, 0.322) !important;
  text-decoration: none;
}

.carousel-control-prev, .carousel-control-next, .carousel-indicators {
  display: none;
}

/*CONTENIDO*/
.footer__categorias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 2rem;
  margin-top: 5rem;
}

.footer__categorias .footer__categorias__boton {
  color: rgba(51, 51, 51, 0.322);
  position: relative;
  padding: 5px;
}

.footer__categorias .footer__categorias__boton:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.175rem;
  background: rgba(51, 51, 51, 0.322);
  left: 0;
  bottom: 0;
}

.footer__categorias .footer__categorias__boton:after {
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.footer__categorias .footer__categorias__boton:hover:after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

@media only screen and (max-width: 600px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .footer__categorias {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (min-width: 601px) {
  .footer__categorias {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.header {
  color: white;
  position: relative;
}

.header .nav {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  padding-top: 1.5rem;
}

.header .nav .imagen-logo {
  width: 100px;
  margin-left: 2rem;
}

.header .nav .imagen-logo:hover {
  -webkit-animation-name: ejemplo;
          animation-name: ejemplo;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes ejemplo {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes ejemplo {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.header .nav .menu-icon {
  color: whitesmoke;
}

.header .nav .nav__navegacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .nav .nav__navegacion .nav__boton {
  margin-right: 1rem;
  padding: 1rem;
  color: whitesmoke;
  font-size: 1.8rem;
  position: relative;
}

.header .nav .nav__navegacion .nav__boton:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.175rem;
  background: whitesmoke;
  left: 0;
  bottom: 0;
}

.header .nav .nav__navegacion .nav__boton:after {
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.header .nav .nav__navegacion .nav__boton:hover:after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.header .carousel {
  width: 90%;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
  border-radius: 0.5rem;
}

@media only screen and (max-width: 600px) {
  .header {
    display: relative;
  }
  .header .carousel-item {
    min-height: 40vh;
  }
  .header .posicion {
    width: 100%;
    max-width: 70rem;
    margin: 0 auto;
  }
  .header .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 0;
  }
  .header .nav .nav__Logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 1.5rem;
  }
  .header .nav .nav__Logo .nav__Logo__span {
    -webkit-transform: translate(0);
            transform: translate(0);
    -webkit-transition: all 2s;
    transition: all 2s;
    z-index: 1;
  }
  .header .nav .nav__Logo .nav__Logo__span .menu-icon {
    text-align: center;
    margin-right: 2rem;
    display: block;
    cursor: pointer;
    font-size: 4rem;
  }
  .header .nav .nav__Logo .nav__Logo__span.mover {
    -webkit-transform: translate(0, 15vh);
            transform: translate(0, 15vh);
    -webkit-transition: all 2s;
    transition: all 2s;
    z-index: 1;
  }
  @-webkit-keyframes bajar {
    from {
      -webkit-transform: translate(0, -40vh);
              transform: translate(0, -40vh);
    }
    to {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
  }
  @keyframes bajar {
    from {
      -webkit-transform: translate(0, -40vh);
              transform: translate(0, -40vh);
    }
    to {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
  }
  @-webkit-keyframes subir {
    from {
      display: -webkit-box;
      display: flex;
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
    to {
      -webkit-transform: translate(0, -40vh);
              transform: translate(0, -40vh);
    }
  }
  @keyframes subir {
    from {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
    to {
      -webkit-transform: translate(0, -40vh);
              transform: translate(0, -40vh);
    }
  }
  .header .nav .nav__navegacion {
    display: none;
  }
  .header .nav .nav__navegacion.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    background-color: darkseagreen;
    width: 100%;
    height: 40vh;
    -webkit-animation-name: bajar;
            animation-name: bajar;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
    border-radius: 0.5rem;
  }
  .header .nav .nav__navegacion.show .nav__navegacion__categoria {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .nav .nav__navegacion.show .nav__navegacion__categoria .nav__boton {
    margin-right: 0;
    margin-left: 1rem;
    background: rgba(245, 245, 245, 0.247);
    border-color: #b9ccb9;
    border-radius: 10px;
    border-width: 10px;
    color: #444444;
  }
  .header .nav .nav__navegacion.unshow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    background-color: darkseagreen;
    width: 100%;
    height: 40vh;
    -webkit-animation-name: subir;
            animation-name: subir;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
    border-radius: 0.5rem;
  }
  .header .nav .nav__navegacion.unshow .nav__navegacion__categoria {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .carousel {
    width: 100%;
    margin: 0 auto;
    -webkit-box-shadow: 0 0 10px black;
            box-shadow: 0 0 10px black;
    border-radius: 0.5rem;
  }
}

@media only screen and (min-width: 601px) {
  .carousel-item {
    min-height: 30vh;
  }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav .menu-icon {
    display: none;
  }
  .nav .nav__navegacion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav .nav__navegacion .nav__navegacion__categoria {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 4rem;
  padding: 4rem;
  background: white;
  border-radius: 2rem;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contenedor .caja__imagenes {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  -webkit-transition-property: -webkit-box-shadow, -webkit-transform;
  transition-property: -webkit-box-shadow, -webkit-transform;
  transition-property: box-shadow, transform;
  transition-property: box-shadow, transform, -webkit-box-shadow, -webkit-transform;
  border-radius: 1rem;
  position: relative;
  height: 47vh;
  width: 30%;
  max-width: 240px;
  max-height: 272px;
}

.contenedor .caja__imagenes:hover {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.contenedor .caja__imagenes span {
  display: none;
}

@-webkit-keyframes bbajar {
  from {
    -webkit-transform: translate(0, -6rem);
            transform: translate(0, -6rem);
  }
  to {
    -webkit-transform: translate(0, -2.5rem);
            transform: translate(0, -2.5rem);
  }
}

@keyframes bbajar {
  from {
    -webkit-transform: translate(0, -6rem);
            transform: translate(0, -6rem);
  }
  to {
    -webkit-transform: translate(0, -2.5rem);
            transform: translate(0, -2.5rem);
  }
}

.contenedor .caja__imagenes:hover span {
  display: block;
  position: absolute;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  z-index: -1;
  width: 100%;
  background: white;
  padding-top: 3rem;
  -webkit-transform: translate(0, -2.5rem);
          transform: translate(0, -2.5rem);
  border-radius: 1rem;
  padding-left: 2rem;
  -webkit-animation-name: bbajar;
          animation-name: bbajar;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.contenedor .caja__imagenes:hover .categorias__imagenes {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.headerNoIndex {
  color: #607080;
  position: relative;
}

.headerNoIndex .nav {
  padding-top: 1.5rem;
}

.headerNoIndex .nav .imagen-logo {
  width: 100px;
}

.headerNoIndex .nav .imagen-logo:hover {
  -webkit-animation-name: ejemplo;
          animation-name: ejemplo;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@keyframes ejemplo {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.headerNoIndex .nav .menu-icon {
  color: #607080;
}

.headerNoIndex .nav .nav__navegacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.headerNoIndex .nav .nav__navegacion .nav__boton {
  margin-right: 1rem;
  padding: 1rem;
  color: #607080;
  font-size: 1.8rem;
  position: relative;
}

.headerNoIndex .nav .nav__navegacion .nav__boton:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.175rem;
  background: #607080;
  left: 0;
  bottom: 0;
}

.headerNoIndex .nav .nav__navegacion .nav__boton:after {
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.headerNoIndex .nav .nav__navegacion .nav__boton:hover:after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.categorias a:hover {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.h2-categoria {
  margin-bottom: 3rem;
}

.categorias {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  gap: 1.5rem;
}

.categorias a {
  color: slategrey;
  border-radius: 30px;
  padding: 3rem;
  background-color: white;
  position: relative;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  -webkit-transition-property: -webkit-box-shadow, -webkit-transform;
  transition-property: -webkit-box-shadow, -webkit-transform;
  transition-property: box-shadow, transform;
  transition-property: box-shadow, transform, -webkit-box-shadow, -webkit-transform;
  text-align: center;
}

.contenedor-imagenes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 4% 2%;
  height: 100vh;
}

.caja {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
  margin: 8px;
  line-height: 0;
  -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.09);
          box-shadow: 0 20px 30px rgba(0, 0, 0, 0.09);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.caja img {
  width: 200%;
  height: calc(100% - 10vh);
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.caja span {
  font-size: 1.7rem;
  display: block;
  text-align: center;
  height: 10vh;
  line-height: 2.6;
}

.caja:hover {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

.caja:hover img {
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=style.css.map */