
.categorias a:hover{
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
} 
.h2-categoria{
    margin-bottom: 3rem;
}

.categorias a{
    color: slategrey;
    border-radius: 30px;
    padding: 3rem;
    background-color: white;
    position: relative;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    text-align: center;
    align-self: center;
}
@media only screen and (max-width: 600px){
.categorias{
    display: grid;
    grid-template-columns: 47% 47%;
    grid-template-rows: auto;
    gap: 1rem;
    
}
.categorias a{
    padding: 2rem;
}
}
@media only screen and (min-width: 601px){
    .categorias{
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: auto;
        gap: 1.5rem;
    }
}