.header {
    color: white;
    position: relative;
    
    .nav{
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        padding-top: 1.5rem;
        .imagen-logo{
            width: 100px;
            margin-left: 2rem;
        }
        .imagen-logo:hover{
            animation-name: ejemplo;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in;
            animation-duration: 3s;
            animation-delay: 0s;
        }
        @keyframes ejemplo{
            0%{ transform: rotate(0deg);}
            100%{ transform: rotate(360deg);}
        }
        .menu-icon{
            color: whitesmoke;
        }
        .nav__navegacion{
            display: flex;
            justify-content: space-between;
            .nav__boton{
                margin-right: 1rem;
                padding: 1rem;
                color: whitesmoke;
                font-size: 1.8rem;

                position: relative;
            }
            .nav__boton:after{
                content: '';
                position: absolute;
                width: 100%;
                height: 0.175rem;
                background: whitesmoke;
                left: 0;
                bottom: 0;
                
            }
            .nav__boton:after{
                transform: scale(0, 1);
                transition: transform 0.3s ease;
            }
            .nav__boton:hover:after{
                transform: scale(1,1);
            }
        }

    }
    .carousel{
        width: 90%;
        margin: 0 auto;
        box-shadow: 0 0 10px rgba(0,0,0,100);
        border-radius: 0.5rem;
    }
}




@media only screen and (max-width: 600px){
    .header{
        display: relative;
        .carousel-item{
            min-height: 40vh;
        };
        .posicion{
            width: 100%;
            max-width: 70rem;
            margin: 0 auto;
        }
        .nav{
            display: flex;
            flex-direction: column;
            padding-top: 0;
            .nav__Logo{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 1.5rem;
                .nav__Logo__span{
                    transform: translate(0);
                    transition: all 2s;
                    z-index: 1;
                    .menu-icon{
                        text-align: center;
                        margin-right: 2rem;
                        display: block;
                        cursor: pointer;
                        font-size: 4rem;
                    }
                }
                .nav__Logo__span.mover{
                    transform: translate(0, 15vh);
                    transition: all 2s;
                    z-index: 1;
                }
            }
            @keyframes bajar {
                from{
                    transform: translate(0, -40vh);
                }
                to{
                    transform: translate(0, 0);
                }
            }
            @keyframes subir {
                from{
                    display: flex;
                    transform: translate(0,0);
                }
                to{
                    transform: translate(0, -40vh);
                }
            }
            .nav__navegacion{
                display: none;
            }
            .nav__navegacion.show{
                display: flex;
                position: absolute;
                background-color: darkseagreen;
                width: 100%;
                height: 40vh;
                animation-name: bajar;
                animation-iteration-count: 1;
                animation-timing-function: ease-in;
                animation-duration: 1s;
                animation-delay: 0s;
                border-radius: 0.5rem;
                .nav__navegacion__categoria{
                    display: flex;
                    justify-content: space-around;
                    flex-direction: row;
                    align-items: center;
                }
            }
            .nav__navegacion.unshow{
                display: flex;
                position: absolute;
                background-color: darkseagreen;
                width: 100%;
                height: 40vh;
                animation-name: subir;
                animation-iteration-count: 1;
                animation-timing-function: ease-in;
                animation-duration: 1s;
                animation-delay: 0s;
                border-radius: 0.5rem;
                .nav__navegacion__categoria{
                    display: flex;
                    justify-content: space-around;
                    flex-direction: row;
                    align-items: center;
                }
            }
        }
        .carousel{
            width: 100%;
            margin: 0 auto;
            box-shadow: 0 0 10px rgba(0,0,0,100);
            border-radius: 0.5rem;
        }
    }
}

@media only screen and (min-width: 601px) {
    .carousel-item{
        min-height: 30vh;
      }
    .nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .menu-icon{
            display: none;
        }
        .nav__navegacion{
            display: flex;
            justify-content: space-between;
            .nav__navegacion__categoria{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }
}