#contenedorSubCat{
    display: grid;
    grid-template-columns: 31% 31% 31%;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1.5rem;;
}
.imagenes {
    max-width: 310px;
    width: 100%;
    height: 15rem;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
  }
@media only screen and (max-width: 600px){
    #contenedorSubCat{
        grid-template-columns: 43% 43%;
        grid-template-rows: 1fr 1fr ;
    }
}
@for $i from 1 through 19 {
    #imagenInt#{$i}{
        background-image: url("../../assets/categorias/PlantasInterior/interior\(#{$i}\).jpg");
    }
}
@for $i from 1 through 17 {
    #imagenAcc#{$i}{
        background-image: url("../../assets/categorias/Accesorios/accesorios\(#{$i}\).webp");
    }
}
@for $i from 1 through 15 {
    #imagenMac#{$i}{
        background-image: url("../../assets/categorias/Macetas/macetas\(#{$i}\).jpg");
    }
}
@for $i from 1 through 18 {
    #imagenSuc#{$i}{
        background-image: url("../../assets/categorias/Suculentas/suculentas\(#{$i}\).jpg");
    }
}
@for $i from 1 through 11 {
    #imagenExt#{$i}{
        background-image: url("../../assets/categorias/PlantasExterior/exterior\(#{$i}\).jpg");
    }
}